body {
  font-family: Roboto, Tahoma, sans-serif;
  color: var(--main-text-color);
  background-color: var(--primary-white-color);
  font-size: 14px;
}

:root {
  --secondary-text-color: #757575;
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container.main {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-logo {
  color: var(--main-text-color);
}

.header .logo {
  margin-right: 93px;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-link:hover,
.header-link:focus,
.header-link:active,
.header-list .link.current {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.contact {
  display: flex;
  margin-left: auto;
}

.header-tel,
.header-mail {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-mail {
  margin-right: 50px;
}

.address-tel:hover,
.address-tel:focus,
.address-mail:hover,
.address-mail:focus,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-text {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: 0 auto 30px auto;
}

.hero-btn {
  display: inline-block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  min-width: 200px;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
}

.visualy-hidden {
  display: none;
}

.making-list {
  display: flex;
}

.making-list .making-item + .making-item {
  margin-left: 30px;
}

.making-item-top {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}

.making-item-bottom {
  margin-top: 0;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.skills {
  padding-top: 0;
}

.skills-list {
  display: flex;
}

.skills-list .skills-item + .skills-item {
  margin-left: 30px;
}

.skills-text,
.staff-text {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.staff {
  background-color: #f5f4fa;
}

.staff-list {
  display: flex;
}

.staff-item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff-list .staff-item + .staff-item {
  margin-left: 30px;
}

.staff-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
}

.staff-position {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.staff-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.address-street {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.address-mail,
.address-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  padding: 6px 22px;
}

.portfolio-nav:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn.current,
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item {
  background: var(--primary-white-color);
}

.portfolio-tittle {
  margin-top: 0;
  margin-bottom: 4;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.porfolio-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-padding {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
